{{ {'galaxy_job_config': galaxy_job_config} | to_nice_yaml(indent=2) }}
{{ {'gravity': galaxy_config.gravity} | to_nice_yaml(indent=2) }}
{{ {'galaxy': galaxy_config.galaxy} | to_nice_yaml(indent=2) }}
    
  {% if GALAXY_DEPENDENCY_RESOLUTION == 'singularity' %}
  enable_mulled_containers: true
  containers_resolvers_config_file: container_resolvers_conf.xml
  {% endif %}